* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  padding: 0 40px;
}

.arrow__link {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 40px;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.arrow__link::after {
  font-size: 1.075em;
  content: "\2192";
  transition: transform 0.3s ease;
}

.arrow__link:hover {
  color: blue;
}
.arrow__link:hover::after {
  transform: translateX(30px);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aquamarine;
  text-align: center;
}
