* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  background: #fffd6f;
  display: flex;
  gap: 20px;
  /* align-items: safe center; */
  /* align-items: unsafe center; */
  /* align-items: flex-start; */
  /* flex-direction: column; */
  justify-content: safe center;
}

.item {
  background: #ffd057;
  padding: 30px;
  /* margin: 0 auto; */
}

.item-1 {
  font-size: 60px;
}

.item-2 {
  padding: 100px 30px;
}

.item-3 {
  font-size: 30px;
}
